body {
    background-image: url("static/background.jpg");
    background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;

margin: 0;
padding: 0;
overflow: hidden;
}



.movable-div {
width: 200px;
height: 150px;
position: absolute;
cursor: grab;
}


footer {

background-color: #252930fd; 
color: white; 
position: fixed; 
width: 100%; 
bottom: 0; 
z-index: 9999;
}
footer p {
font-size: 15px; 
}


footer i {
font-size: 20px; 
}
documentos i {
    font-size: 20px; 
    }
